.logo {
  max-width: 100px;
}

.mainNav {
  background-color: #f72210;
}

.c-position-bl {
  position: absolute;
  bottom: 0;
  left: 0;
}

.TabletCent {
  max-width: 500px;
  margin: auto;
}

.border-gray {
  border-color: gray;
}

.fs-7 {
  font-size: .83rem;
}

@media only screen and (min-width: 992px) {
  .logo {
    max-width: 396px;
  }
}

@media only screen and (max-width: 1024px) {
  .dispinla {
    display: none;
  }
}
