.logo {
  max-width: 100px;
}

.mainNav {
  background-color: #f72210;
}

@media only screen and (min-width: 992px) {
  .logo {
    max-width: 396px;
  }
}

@media only screen and (max-width: 1024px) {
  .dispinla {
    display: none;
  }
}
